## ***************************************************************************************************************************************************
##  File          .gitignore
##
##  Copyright     VOLLMER WERKE Maschinenfabrik GmbH
##                D-88400 Biberach
##
##  Summary       Allgemeingültige .gitignore-Datei für alle Git-Repositorys
##
##  Description   Diese Datei muss im Root aller Git-Repositorys vorhanden sein. Eigene bzw. Repository-individuelle Anpassungen sind nicht erlaubt.
##                Hier werden Dateien, Dateitypen und Ordner aufgeführt, die von Git-Commits grundsätzlich ausgeschlossen werden. Es werden alle
##                Programmiersprachen bzw. Git-Projekte unterstützt.
##
##  Version       1.6.0
## ***************************************************************************************************************************************************

# Build-Ergebnisse
## Allgemein
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa]rtifacts/
[Bb]in/
[Bb]inaries/
[Bb]inary/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
BUILD/
bld/
Win32/
x64/
x86/
tmp
### Ausführbare Dateien
*.app
*.exe
*.out
### Kompilierte dynamische Bibliotheken
*.dll
*.dylib
*.so
### Kompilierte statische Bibliotheken
*.a
*.la
*.lai
*.lib
## C++
.visualgdb/
VisualGDB/
### Prerequisites
*.d
### Kompilierte Objektdateien
*.lo
*.o
*.slo
### Vorkompilierte Header
*.gch
## MSBuild
*.binlog
## TS
dist
out-tsc

# Coverage
## Allgemein
*.coverage
CodeCoverage*/
coverage
coverage*/
## OpenCover UI für C#
OpenCover/
## TypeScript
.nyc_output
lib-cov
## Visual Studio Professional
*.coveragexml

# IDE
## Allgemein
*.bak
*.tmp
## AutoCAD
*.dwl
*.dwl2
## IntelliJ IDEA
.idea
## Sublime Text
*.sublime-workspace
## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
## TwinCAT
_Boot/
_CompileInfo/
_Deployment/
_Libraries/
*.compiled-library
*.compileinfo
*.library
*.noprjfile
*.project.~u
*.sln.~u
*.tcbodeproj
*.tcmproj
*.tcscopex
*.tmc
*.tmcRefac
*.tpy
*.vsm
LineIds.dbg
LineIds.dbg.bak
TrialLicense.tclrs
## Visual Studio Code
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/workspace.code-workspace
/.history
## Visual Studio Professional
### User-Dateien
.vs/
*.rsuser
*.sln.docstates
*.suo
*.user
*.userosscache
*.userprefs
### Allgemein
.builds
.project
*_h.h
*_i.c
*_i.h
*_p.c
*_wpftmp.csproj
*.cov
*.chm
*.ilk
*.iobj
*.ipdb
*.launch
*.lastbuildstate
*.lck
*.log
*.tlog
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.QIK
*.rsp
*.sbr
*.scc
*.svclog
*.tlb
*.tlh
*.tli
*.tmp_proj
### Visual C++ Cache
*.aps
*.cachefile
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.ncb
ipch/
### Visual Studio Profiler
*.psess
*.sap
*.vsp
*.vspx
### Konvertierung auf neue VS-Version
_UpgradeReport_Files/
Backup*/
ServiceFabricBackup/
UpgradeLog*.htm
UpgradeLog*.XML
### Package-Reference-Konvertierung
MigrationBackup/

# Kompressionsformate
*.7z
*.bz2
*.gz
*.rar
*.tar
*.tgz
*.zip

# Laufzeitdateien
## Allgemein
[Ll]og/
[Ll]ogs/
*.pid
*.pid.lock
*.seed
pids

# Office-Dateien
~$*

# Pakete
## Allgemein
**/[Pp]ackages/*
## NPM
.npm/
node_modules/
npm-debug.log*
## NuGet
*.nupkg
*.snupkg
*/nupkgs

# Sprachen/Frameworks
## Angular
.angular
## Node.js
.eslintcache
## Python
__pycache__/
*.pyc
## NX
.nx-container
.nx/cache
.nx/workspace-data

# Testergebnisse
## Allgemein
[Tt]est[Rr]esult*/
## TypeScript
test-dist
test-results
## VectorCAST C++
Vectorcast/
!*.vcm
!CCAST_.CFG
!environment
!LoadExternalPackages.bat
!RunManageCli.bat
!Startup.bat
!Startup32.bat
!Startup64.bat

# Tools auf Zielplattform
## Node-RED
/flows/*
!/flows/.*
!/flows/.flow.json.backup
!/flows/flow.json
!/flows/lib
!/flows/lib/*
!/flows/package.json
!/flows/settings.json
## SQL
*.ldf
*.mdf
*.ndf

# Lokale Umgebungsvariablen
**/*.env
**/*.env.local
**/*.env.prod
**/*.env.staging
_local

# Systemdateien
## macOS
.DS_Store
## Windows
Thumbs.db

# VOLLMER-spezifische Dateien und Strukturen
## Generierte AutoCAD-Dateien einer HMI mit VMENUE
**/bld_src/**/*.src
**/bld_src/**/*.txt
**/bld_src/**/*.usrc
## Generierte Open-Source-Lizenzen
/licenses/*
!/licenses/README.md
## Ignorieren von importierten Dateien von Docker- und TypeScript-Projekten
.dockerignore
.npmignore
.nycrc
build.sh
tslint.json
## Inhalte des Ordners Assets werden explizit nicht ignoriert
!**/Assets/**
## Logger
*.vlog
Logger*Format.cfg
## XML-Templates, bspw. in Tool-Production 2
**/Project/**/*Templates/**/*.xml
## Durch den Build-Prozess (Visual Studio) erstellte Service-Konfiguration ignorieren
**/Project/**/*.vconfig
## VBS
### Inhalte des Ordners component werden explizit nicht ignoriert
!component/*
### Temporärer Pfad des ResXGenerator
ResourceFiles/
TextFiles/
### Konfiguration der Startprojekte
/VBS100.sln.startup.json
### MTS autogenerierte Dateien
/PROJEKT_WIN/utilities/GrafikWindow/autogenerated